<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bốc Thăm Vòng Tròn - Ứng Dụng Được Viết Bởi Thầy Toàn Cờ Vua, Để Sử Dụng - Truy Cập:
        https://bocthamvongtron.vn/
    </title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/btn.style.css">

    <style>
        ol li {
            font-size: 20px;
            margin-bottom: 8px;
        }
    </style>
</head>

<body>


    <div class="container">
        <h1 class="center">Có lỗi, vui lòng thử lại</h1>
        <ol>
            <li>File bạn gửi lên không phải là file excel chuẩn</li>
            <li>Vui lòng kiểm tra lại file mẫu hoặc nhập dữ liệu</li>
        </ol>
        <div id="header">
            <a href="/"> <button class="menu button3"> Quay Lại Trang Chủ </button></a>
        </div>
    </div>


    <script src="/main.js"></script>
</body>

</html>