<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bốc Thăm Vòng Tròn - Ứng Dụng Được Viết Bởi Thầy Toàn Cờ Vua, Để Sử Dụng - Truy Cập:
        https://bocthamvongtron.vn/
    </title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/btn.style.css">

</head>

<body>


    <div class="container">
        <h1 class="center uppercase">Ứng dụng tính hạng đồng đội</h1>
        <h2>Quay lại trang chủ: <a href="/">Trang chủ</a></h2>
        <br>
        <h2>Bước 1: Chọn file cần xếp hạng đồng đội</h2>
        <br>

        <form action="/dongdoi" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="excelFile">
                </label> <br>
                <input type="file" name="excelFile" id="excelFile" class="fileclass" hidden
                    onchange="preview1.src=window.URL.createObjectURL(this.files[0])">
                <label for="excelFile">
                    <img id="preview1" width="64px" class="avatar-preview" src="/upload1.png" alt="">
                    <img src="/excel.png" alt="Excel Icon" width="64px" id="excel-icon" style="display: none;">
                    <h3 id="file-name"></h3>
                </label>
                <!-- <input type="text" name="chiso1" value="score" id="chiso1" hidden>
                <input type="text" name="chiso2" value="hang" id="chiso2" hidden> -->

            </div>
            <br>
            <!-- <input type="file" name="excelFile" value="Chọn File"><br> -->
            <h2>Bước 2: Lựa chọn hệ số, và số lượng sau đó bấm tải lên để hoàn tất!</h2>
            <br>
            <label for="">Lựa chọn tổng vđv: </label>
            <select name="soluong" id="soluong">
                <option value="2">Tính 2 vđv</option>
                <option value="3">Tính 3 vđv</option>
                <option value="4">Tính 4 vđv</option>
                <option value="5">Tính 5 vđv</option>
            </select>
            <br>
            <br>
            <label for="">Lựa chọn hệ số 1</label>
            <select name="chiso1" id="chiso1">
                <option value="score">Xếp hạng đội theo tổng điểm</option>
                <option value="hang" selected>Xếp hạng đội theo tổng hạng thấp nhất</option>
            </select>
            <br>
            <br>
            <label for="">Lựa chọn hệ số 2</label>
            <select name="chiso2" id="chiso2">
                <option value="score" selected>Xếp hạng đội theo tổng điểm</option>
                <option value="hang">Xếp hạng đội theo tổng hạng thấp nhất</option>
                <option value="hatgiong">Hạng cao nhất của đội</option>
            </select>
            <br>
            <br>
            <hr>
            <h3>Trong trường hợp ko phải file chuẩn vui lòng xác định các cột và dòng sau:</h3>
            <br>
            <label for="">Tùy chọn thêm: chọn dòng bắt đầu tính hạng (mặc định là dòng 6)</label>
            <select name="vitridong" id="vitridong">
                <option value="5" selected>Dòng 6</option>
                <option value="6">Dòng 7</option>
                <option value="7">Dòng 8</option>
            </select>
            <br>
            <label for="">Tùy chọn thêm: cột tên (mặc định là cột 3)</label>
            <select name="vitriten" id="vitriten">
                <option value="2" selected>Cột C</option>
                <option value="3">Cột D</option>
                <option value="4">Cột E</option>
                <option value="5">Cột F</option>
                <option value="6">Cột G</option>
            </select>
            <br>
            <label for="">Tùy chọn thêm: cột câu lạc bộ (mặc định là cột D)</label>
            <select name="vitriclb" id="vitriclb">
                <option value="3" selected>Cột D</option>
                <option value="4">Cột E</option>
                <option value="5">Cột F</option>
                <option value="6">Cột G</option>
                <option value="7">Cột H</option>
            </select>
            <br>
            <label for="">Tùy chọn thêm: cột điểm số (mặc định là cột E)</label>
            <select name="vitridiem" id="vitridiem">
                <option value="4" selected>Cột E</option>
                <option value="5">Cột F</option>
                <option value="6">Cột G</option>
                <option value="7">Cột H</option>
                <option value="8">Cột I</option>
            </select>
            <br>

            <button class="btn button1 disable" id="uploadFile">Tải Lên</button>
        </form>
        <h3>Hướng dẫn nhập file đúng chuẩn:</h3>
        <br>
        <ol>
            <li>Dữ liệu bắt đầu hàng 6</li>
            <li>Câu lạc bộ bắt đấu cột d, điểm cột e</li>
            <li>Nếu có người trùng hạng vui lòng điền hạng, ko để trống</li>
        </ol>
        <br>
        <div class="huongdan">
            <img src="/HUONGDAN.png" alt="">
        </div>
        <div id="ketquacuoicung"></div>
        <p class="center mb10 hidden-printer fixed-10">Tổng số lượng truy cập: <span class="totalCount"></span> </p>
    </div>


    <script src="/main.js"></script>
    <script src="/count.js"></script>
    <script src="/checkBTN.js"></script>
</body>

</html>