<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bốc Thăm Vòng Tròn - Ứng Dụng Được Viết Bởi Thầy Toàn Cờ Vua, Để Sử Dụng - Truy Cập:
        https://bocthamvongtron.vn/
    </title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <div class="container">
        <div class="header">
            <h1 class="center">Kết quả bốc thăm</h1>
        </div>
        <div id="tables-container"></div>
        <div id="table-result"></div>
        <div class="center"> <button id="ketquacuoicung" class="btn">Xem Kết Quả Cuối Cùng</button></div>

        <script src="/main.js"></script>
        <script src="/handleInput.js"></script>
    </div>

</body>

</html>